body {
    color: #eeeeec;
    background-color: #353a3a; /*#4f524f;*/
}

a:link {
    color: #aaf;
}

td {
    color: #353a3a;
    background-color: #eeeeec;
}

td a:link {
    color: #0000c8;
}

blockquote[type=cite] {
   color: #c8c7d4 !important;
}

span[_moz_quote=true] {
    color: #c8c7d4 !important;
}

@-moz-document url(chrome://chat/content/conv.html) {
    .event {
        color: #c8c7d4 !important;
    }

    .date {
        color: #bdb !important;
    }
}
