#attachmentView {
    color: #eeeeec;
    background-color: #292929;
}

@-moz-document url(chrome://messenger/content/multimessageview.xhtml) {
    body {
        color: #eeeeec !important;
        background-color: #353a3a !important;
    }

    .sender {
        color: #aaf !important;
    }

    .snippet {
        color: #eeeeec !important;
    }
}

.enigmailHeaderBoxLabelSignatureOk {
    background-color: #375033 ! important;
}

.enigmailHeaderBoxLabelSignatureVerified {
    background-color: #375033 ! important;
}

.enigmailHeaderBoxLabelSignatureNotOk {
    background-color: #FF0000;
}
